<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" type="text/css" href="./style.css">
        <link rel="stylesheet" type="text/css" href="./table.css">
        <title>Page Title</title>
    </head>

    <body>
        <div id="optionsContainer">
            <a href="/showList">
                <button>Show list</button>
            </a>
            <a href="/addStudent">
                <button>Add student</button>
            </a>
            <a href="/">
                <button>Add Teacher</button>
            </a>
            <a href="/addCourse">
                <button>Add Course</button>
            </a>
            <a href="/enrollStudent">
                <button>Enroll student to a course</button>
            </a>
            <a href="/unenrollStudent">
                <button>Unenroll a student from a course</button>
            </a>
        </div>
        <div id="devider">

        </div>
        <div id="dataContainer">
            {{{body}}}
        </div>
    </body>
    <script>
            function showSubContainer(e) {
                let container = e.target.parentNode.parentNode.children[1];
                container.style.display = container.style.display == "none"?"block":"none";
            }
    </script>
</html>