
<section>
    <div class="container">
        <h1 class="title">Add Student</h1>
        <div>
            <form action="/addStudent" method="POST">
                <div class="row">
                    <label for="name">Student name</label>
                    <br>
                    <input type="text" class="formInput"
                        id="name"
                        placeholder="Pesho peshev"
                        name="name">
                </div>

                <button type="submit" class="btn btn-primary">Add</button>
            </form>
        </div>
    </div>
</section>
